asgiref==3.2.3
beautifulsoup4==4.8.2
Django==3.1.12
django-archive==0.1.6
django-bootstrap4==1.1.1
django-debug-toolbar==2.2
django-mailer==2.0.1
gunicorn==20.0.4
lockfile==0.12.2
Pillow==7.0.0
psycopg2-binary==2.8.4
pycodestyle==2.5.0
python-dotenv==0.12.0
pytz==2019.3
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
