{% extends 'boutique/base.html' %}
{% load i18n %}

{% block content %}

<div class="mx-2 mx-lg-3 my-4 my-lg-5 text-black-50">
    
    {% include 'shopping/include/order_go_back.html' %}

    <h3 class="text-black-50 border-bottom text-center mt-3 pb-2 mb-0 wow zoomIn">{% trans "My Wish List" %}</h3>
    <div class="row">
        {% for item in wishlist.items.all %}
        <div class="col-12 col-md-6 border-bottom mt-2 mt-md-3 pb-2 pb-md-3 wow fadeInup" data-wow-delay="0.3s">
            <div class="row">
                <div class="col-5">
                    <!-- image anchor -->
                    <a href="{{ item.get_item_url }}">
                        <img class="rounded-sm" src="{{item.itemimage_set.first.image.url}}" width="100%" alt="{% trans 'An image of ' %}{{item.name}} - {% trans 'wish list' %}"></a>
                    <!-- /image anchor -->
                </div>
                <div class="col-5 d-flex flex-column px-0">
                    <!-- item price tag -->
                    <div class="text-left " style="font-size: 15px;">
                        <div>
                            <a href="{{ item.get_item_url }}" class="text-dark">{{item}}</a>
                        </div>
                        <div class="">
                            {% include 'boutique/include/item_price.html' %}
                        </div>
                    </div>
                    <!-- /item price tag -->
                </div>
                <div class="pl-1 col-2 d-flex flex-column justify-content-around">
                    <a href="{% url 'shopping:add-to-bag' item.pk %}" role="button" class="btn btn-sm btn-outline-danger py-1 py-md-2"><i class="fas fa-shopping-bag fa-lg"></i></a>
                    <a href="{% url 'wishlist:del-wish' item.pk %}" role="button" class="btn btn-sm mt-auto py-1 py-md-2 text-black-50"><i class="far fa-trash-alt fa-lg"></i></a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="container">
            <p class="text-center mt-3 text-black-50">{% trans "Please add more items to your wish list" %}</p>
        </div>
        {% endfor %}
    </div>

    <div class="mt-3 mt-lg-5 mx-0 row wow fadeInUp" data-wow-delay="0.5s">
        <a href="{{user.profile.get_absolute_url}}" class="col-12 col-md mx-1 mb-2 btn btn-sm btn-outline-primary border-top-0 border-right-0 border-left-0" role="button"> {% trans "My Profile" %}</span> </a>
        <a href="" class="col-12 col-md mx-1 mb-2 btn btn-sm btn-danger disabled">{% trans "My Wish List" %}</a>
        <a href="{% url 'shopping:shopping-bag' %}" class="col-12 col-md mx-1 mb-2 btn btn-sm btn-outline-dark border-top-0 border-right-0 border-left-0" role="button">{% trans "My Shopping Bag" %}</a>
        <a href="{% url 'shopping:show-orders' %}" class="col-12 col-md mx-1 mb-2 btn btn-sm btn-outline-info border-top-0 border-right-0 border-left-0" role="button">{% trans "My Orders" %}</a>
    </div>
</div>

<hr class="">

{% endblock content %}