{% extends 'boutique/base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<style>
    #register-form {
        background-image: url("/static/boutique/img/bg-registration.jpg");
        background-position: center;
        background-size: cover;
    }
</style>
<form id="register-form" class="form bg-white p-3 p-sm-5 shadow-lg rounded mb-3" action="{% url 'users:register' %}"
    method="POST">
    <div class="my-3 my-sm-4 text-left font-weight-light text-black-50 border-bottom">
        <h2 class="border-bottom pb-3 text-dark"
            style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            {% trans 'Join us for so much more!' %}</h2>
        <div class="mt-2 pt-2">
            <p class="row align-items-center">
                <i class="col-1 fas fas fa-user text-secondary text-center"></i>
                <span class="col">{% trans " Get your own personal stylist!" %}</span>
            </p>
            <p class="row align-items-center">
                <i class="col-1 fas fa-tags text-warning text-center"></i>
                <span class="col">{% trans " Enjoy special discount for ALL tagged items!" %}</span>
            </p>
            <p class="row align-items-center">
                <i class="col-1 fas fa-heart text-danger text-center"></i>
                <span class="col">
                    {% trans " Have your own wish-list and shopping bag to track the items you are interested in!" %}
                </span>
            </p>
        </div>
    </div>

    {% csrf_token %}
    {% bootstrap_form form %}
    <button name="submit" class="btn btn-outline-info btn-block my-4">{% trans "Register" %}</button>
</form>

{% endblock content %}