{% extends 'boutique/base.html' %}
{% load i18n %}

{% block content %}
<div class="mx-2 mx-lg-3 my-4 my-lg-5 text-black-50">
    <h3 class="font-weight-light text-center border-bottom pb-2 text-black-50">{% trans "Welcome back" %}{{ profile.user.username|title }}!</h3>
    <div class="pt-2 px-2 row">
        <div class="col-12 col-md-6">
            <p>{% trans "My Name" %}: {{ profile.name }}</p>
            <p>{% trans "My Email" %}: {{ profile.email }}</p>
        </div>
        <div class="col-12 col-md-6">
            <p>{% trans "My Phone" %}: {{ profile.phone }}</p>
            <p>{% trans "My Address" %}: {{ profile.address }}</p>
        </div>
    </div>

    <div class="d-md-flex justify-content-end">
        <a href="{% url 'users:profile-update' profile.pk profile.slug %}" class="col-12 col-md-3 mx-1 btn btn-sm btn-outline-secondary mb-2 border-top-0 border-right-0 border-left-0">{% trans "Edit Profile" %}</a>
    </div>

    <div class="mt-3 mt-lg-5 mx-0 row">
        <a href="" class="col-12 col-md mx-1 mb-2 btn btn-sm btn-primary disabled"> {% trans "My Profile" %}</span> </a>
        <a href="{{user.profile.wishlist.get_absolute_url}}" class="col-12 col-md mx-1 mb-2 btn btn-sm btn-outline-danger border-top-0 border-right-0 border-left-0">{% trans "My Wish List" %}</a>
        <a href="{% url 'shopping:shopping-bag' %}" class="col-12 col-md mx-1 mb-2 btn btn-sm btn-outline-dark border-top-0 border-right-0 border-left-0">>{% trans "My Shopping Bag" %}</a>
        <a href="{% url 'shopping:show-orders' %}" class="col-12 col-md mx-1 mb-2 btn btn-sm btn-outline-info border-top-0 border-right-0 border-left-0">{% trans "My Orders" %}</a>
    </div>

</div>

<hr class="">

{% endblock content %}