{% extends 'boutique/base.html' %}
{% load humanize i18n %}

{% block content %}

<!-- confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="col-10 mr-auto ml-auto">
                    <h6 class="text-black-50">
                        {% comment %}Translators: Before the customer place an order, they have to confirm the order{% endcomment %}
                        {% trans "Confirm to checkout now?" %} <br>
                        {% trans "The detail of the order will be sent to your personal email. And we will contact you soon." %}.</h6>
                    <a href="{% url 'shopping:handle-order' %}" onclick="this.disabled=true;"
                        class="btn btn-outline-success col-12">{% trans "Confirm Order" %}</a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="mx-2 mx-lg-3 my-4 my-lg-5 text-black-50">

    {% include 'shopping/include/order_go_back.html' %}

    <h3 class="text-black-50 border-bottom text-center mt-3 pb-2 mb-0 wow zoomIn">{% trans "My Shopping Bag" %}</h3>

    {% for item in shopping_bag.get_order_items %}
    <div class="col-12 col-md-8 border-bottom mt-2 mt-md-3 pb-2 pb-md-3 d-flex align-items-center pl-0 mr-auto ml-auto wow fadeInup" data-wow-delay="0.3s">
        <div class="col-4 col-md-2 pl-0">
            <!-- image anchor -->
            <a href="{{ item.item.get_absolute_url }}">
                <img class="rounded-sm shadow-sm" src="{{item.item.itemimage_set.first.image.url}}" width="100%"
                    alt="{% trans 'An image of ' %}{{item.item.name}}"></a>
            <!-- /image anchor -->
        </div>
        <div class="col px-0 d-flex align-items-center ml-md-3" style="font-size: 15px;">
            <!-- item price tag -->
            <div class="col-6 px-0">
                <a href="{{ item.item.get_absolute_url }}" class="text-black-50">{{item.item}}</a>
            </div>
            <div class="col-6">
                <p class="mt-auto mb-auto"><span class="mr-1">&#8381;</span>{{ item.item.final_price|intcomma }}</p>
            </div>
            <!-- /item price tag -->
        </div>
        <div class="col-1">
            <a href="{% url 'shopping:del-from-bag' item.pk %}" class="btn btn-sm mt-auto py-1 py-md-2 text-black-50"><i
                    class="fas fa-trash fa-sm"></i></a>
        </div>
    </div>
    {% empty %}
    <p class="text-center mt-3 text-black-50">{% trans "Please add more items to your shpping bag" %}</p>
    {% endfor %}

    <!-- Total Price and checkout -->
    {% if shopping_bag.items.count > 0 %}
    <div class="border-bottom pb-3 wow fadeInUp" data-wow-delay="0.3s">
        <div class="d-flex col-8 ml-auto mr-auto">
            <p class="ml-auto my-4">{% trans "Total Price" %}: <span
                    class="mx-1">&#8381;</span>{{ shopping_bag.order_total|intcomma }}</p>
        </div>
        <div class="col-12 col-md-8 ml-auto mr-auto px-0">
            <a href="#confirmationModal" data-toggle="modal" class="btn btn-sm btn-info col-12">{% trans "Checkout" %}</a>
        </div>
    </div>
    {% endif %}
    <!-- /Total Price -->

    <div class="mt-3 mt-lg-5 mx-0 row wow fadeInUp" data-wow-delay="0.5s">
        <a href="{{user.profile.get_absolute_url}}" role="button"
            class="col-12 col-md mx-1 mb-2 btn btn-sm btn-outline-primary border-top-0 border-right-0 border-left-0"> {% trans "My Profile" %}</span> </a>
        <a href="{{user.profile.wishlist.get_absolute_url}}" role="button"
            class="col-12 col-md mx-1 mb-2 btn btn-sm btn-outline-danger border-top-0 border-right-0 border-left-0">{% trans "My Wish List" %}</a>
        <a href="" role="button" class="col-12 col-md mx-1 mb-2 btn btn-sm btn-dark disabled">{% trans "My Shopping Bag" %}</a>
        <a href="{% url 'shopping:show-orders' %}" role="button"
            class="col-12 col-md mx-1 mb-2 btn btn-sm btn-outline-info border-top-0 border-right-0 border-left-0">{% trans "My Orders" %}</a>
    </div>
</div>


<hr class="">

{% endblock content %}