{% extends 'boutique/base.html' %}
{% load bootstrap4 i18n %}

{% block content %}

<h3 class="my-3 my-md-4 pb-2 border-bottom text-center">
    {% comment %}Translators: After customer ordered something {% endcomment %}
    {% trans "Congradulations" %}!</h3>

{% include 'shopping/include/buy_now_item.html' %}
<div class=" col-12 col-lg-7 p-4 mr-auto ml-auto text-center mb-5">
    
    <h5 class="border-bottom pb-2">
        {% comment %}Translators: Order reference number {% endcomment %}
        {% trans "Order Ref Number" %}: <span class="text-info">{{order_ref}}</span></h5>
    <p>{% trans "Your purchase is being processed" %}. <br>
        {% trans "Please check your email for the detail of the purchase. Our specialst will contact you soon. Thanks" %}!</p>
</div>

<hr class="">

{% endblock content %}