{% load i18n %}
<div class="border-bottom text-black-50 mt-4 mt-lg-5">
    <div class="wow fadeInDown d-flex justify-content-center">
        <p class="mb-1 mt-2"><i class="fas fa-chevron-down fa-sm mr-3 mr-sm-5"></i></p>
        <h5 class="">
            {% comment %}Translators: at the end of sales page, to encourage people to browse more{% endcomment %}
            {% trans "And so much more" %}</h5>
        <p class="mb-1 mt-2"><i class="fas fa-chevron-down fa-sm ml-3 ml-sm-5"></i></p>
    </div>
</div>
