{% load i18n %}

{% if index_h1_title_text %}
<!-- <h1 class="h1-title-text px-2 mt-3 mt-md-4 pb-3 wow fadeInDown border-bottom">{{ index_h1_title_text }}</h1> -->
{% endif %}

<div class="pre-footer my-4">
    <div class="accordion d-flex justify-content-center text-center mb-3 wow pulse" id="accordionPageMenu">

        <div class="col-4 px-0 ml-4">
            <div class="" id="headingOne">
                <a class="btn border-bottom pb-0 text-dark cursor-pointer" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <span class="font-bigger">{% trans "Women" %}</span>
                </a>
            </div>
            <div id="collapseOne" class="collapse {% if filters %} show {% endif %}" aria-labelledby="headingOne" data-parent="#accordionPageMenu">
            <!-- <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionPageMenu"> -->
                <div class="mt-2 mb-5">
                    {% for category in categories %}
                    {% if category.gender == 1 and category.pk != 6 %}
                    <a class="dropdown-item font-bigger" href="{{ category.get_category_url }}">{{category.name|title}}</a>
                    {% for subcategory in category.subcategory_set.all %}
                    <a class="dropdown-item text-black-50 font-smaller"
                        href="{{ subcategory.get_subcategory_url }}">{{subcategory.name|title}}</a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    {% endif %}
                    {% endfor %}
                    <a class="dropdown-item font-bigger" href="{% url 'boutique:show-all' 'women' %}">{% trans "Show All" %}</a>
                </div>
            </div>
        </div>

        <div class="col-4 px-0 mr-4">
            <div class="" id="headingTwo">
                <a class="btn border-bottom pb-0 text-dark cursor-pointer" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="font-bigger">{% trans "Men" %}</span>
                </a>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionPageMenu">
                <div class="mt-2 mb-5">
                    {% for category in categories %}
                    {% if category.gender == 2 %}
                    <a class="dropdown-item font-bigger" href="{{ category.get_category_url }}">{{category.name|title}}</a>
                    {% for subcategory in category.subcategory_set.all %}
                    <a class="dropdown-item text-black-50 font-smaller"
                        href="{{ subcategory.get_subcategory_url }}">{{subcategory.name|title}}</a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                    {% endif %}
                    {% endfor %}
                    <a class="dropdown-item font-bigger" href="{% url 'boutique:show-all' 'men' %}">{% trans "Show All" %}</a>
                </div>
            </div>
        </div>

        <div class="col-4 px-0 mr-4">
            <div class="" id="headingTwo">
                <a class="btn border-bottom pb-0 text-dark cursor-pointer" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span class="font-bigger">{% trans "Cosmetics" %}</span>
                </a>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionPageMenu">
                <div class="mt-2 mb-5">
                    {% for category in categories %}
                        {% if category.pk == 6 %}
                        <a class="dropdown-item font-bigger" href="{{ category.get_category_url }}">{{category.name|title}}</a>
                        {% for subcategory in category.subcategory_set.all %}
                        <a class="dropdown-item text-black-50 font-smaller"
                            href="{{ subcategory.get_subcategory_url }}">{{subcategory.name|title}}</a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                        {% endif %}
                        {% endfor %}
                        <a class="dropdown-item px-3 font-bigger" href="{% url 'boutique:show-category' 6 %}">{% trans "Show All" %}</a>
                </div>
            </div>
        </div>

    </div>

    <form class="form-inline my-0 border-bottom wow fadeInDown" action="{% url 'boutique:search' %}" method="GET">
        <input name="query" class="form-control mr-sm-2 w-100 border-white text-center" type="text" placeholder="{% trans 'Search' %}"
            aria-label="Search">
    </form>

    {% if index_h1_title_text %}
    <h1 class="h1-title-text px-2 pt-2 mt-2 wow fadeInDown">{{ index_h1_title_text }}</h1>
    {% else %}
    <p class="text-center font-smaller mt-2 wow fadeInDown text-muted">Онлайн бутик VA это стильная одежда и аксессуары премиум качества по доступным ценам! Бесплатная доставка по России!</p>
    {% endif %}
</div>