<style>
    .breadcrumb {
        background-color: transparent;
    }

    .back-button {
        display: block;
    }

    .breadcrumb-item+.breadcrumb-item::before {
        content: "»";
    }

    @media only screen and (max-width: 769px) {
        .breadcrumb {
            display: none;
        }

        .back-button {
            display: block;
        }
    }

</style>

<div class="d-flex align-items-center my-3">
    <!-- back button: only shown on small screen -->
    <div class="pr-1 pr-sm-3 border-right">
        <button class="text-muted btn" onclick="history.back()"><i
                class="fas fa-angle-double-left mr-3"></i>Go Back</button>
    </div>
    <!-- /back button -->

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb" class="pl-3 ml-1">
        <ol class="breadcrumb px-1 mb-0 font-weight-light border-bottom border-light">
            <li class="breadcrumb-item"><a class="border-bottom text-dark"
                    href="{{item.category.get_category_url}}">{{item.category}}</a></li>
            {% if item.subcategory %}
            <li class="breadcrumb-item"><a class="border-bottom text-dark"
                    href="{{item.subcategory.get_subcategory_url}}">{{item.subcategory.name}}</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{{item.name}}</li>
        </ol>
    </nav>
    <!-- / breakcrumb -->
</div>