{% load i18n %}

<!-- filter modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">

                {% if filters.subcategory %}
                <h6 class="my-2 font-weight-lighter">
                    {% comment %}Translators: title of filter pop up window, 'filter' as a verb here{% endcomment %}
                    {% trans "Filter " %}
                    <a class="text-black-50 font-italic border-bottom"
                        href="{{filters.subcategory.get_subcategory_url}}">{{filters.subcategory.name}}</a>
                </h6>
                {% elif filters.category %}
                <h6 class="my-2 font-weight-lighter">
                    {% comment %}Translators: title of filter pop up window, 'filter' as a verb here{% endcomment %}
                    {% trans "Filter " %}
                    <a class="text-black-50 font-italic border-bottom"
                        href="{{filters.category.get_subcategory_url}}">{{filters.category.name}}</a>
                </h6>
                {% else %}
                <span class="font-italic">{{brand_selected_from_all}}</span>
                {% endif %}

                {% include 'boutique/include/filter_form.html' with filter='' %}

            </div>
        </div>
    </div>
</div>

<!-- mini filter icon -->
<div class="d-flex mt-2 wow fadeIn" data-wow-delay="0.5s">
    <div class="filter-icon mr-auto">
        <a class="text-black-50 btn cursor-pointer" onclick="history.back()">
            <i class="fas fa-angle-double-left mr-3"></i>{% trans "Go Back" %}</a>
    </div>

    <div class="filter-icon ml-auto">
        <a class="btn text-black-50 cursor-pointer" data-target="#filterModal" data-toggle="modal">
            {% trans "Filters" %}<i class="fa fa-filter ml-3"></i>
        </a>
    </div>
</div>
<!-- the above displayed ONLY in small screen -->