{% load i18n %}

<!-- filters with brands, min_price, max_price -->
<form action="
    {% if filters.subcategory %}
        {% url 'boutique:filter-sub' sub_pk=filters.subcategory.pk %}
    {% elif filters.category %}
        {% url 'boutique:filter-cat' cat_pk=filters.category.pk %}
    {% else %}
        {% url 'boutique:filter-all' %}
    {% endif %}" method="GET">{% csrf_token%}

    <div class="form-row px-0 mb-4">

        <!-- brand -->
        <div class="form-gourp col-12 col-sm mt-1 {{filter}} pl-lg-0">
            <select class="custom-select custom-select-sm" name="brand_pk">
                <option selected value="">{% trans "All Brands" %}</option>
                {% for brand in brands %}
                {% if filters.brand_pk == brand.brand_pk|stringformat:"i" %}
                <option selected value="{{brand.brand_pk}}">{{brand.brand_name}}</option>
                {% else %}
                <option value="{{brand.brand_pk}}">{{brand.brand_name}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <!-- min_price -->
        <div class="form-gourp col-6 col-sm mt-1 {{filter}}">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text text-black-50 py-0 px-2"><small>₽</small></div>
                </div>
                <input type="number" class="form-control form-control-sm" name="min_price" placeholder="min"
                    value="{% if filters.min_price %}{{filters.min_price}}{% endif %}">
            </div>
        </div>

        <!-- max_price -->
        <div class="form-gourp col-6 col-sm mt-1 {{filter}}">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text text-black-50 py-0 px-2"><small>₽</small></div>
                </div>
                <input type="number" class="form-control form-control-sm" name="max_price" placeholder="max"
                    value="{% if filters.max_price %}{{filters.max_price}}{% endif %}">
            </div>
        </div>

        <!-- submit -->
        <div class="form-gourp col-12 col-lg mt-3 {{filter}} pr-lg-0 mt-lg-1">
            <button type="submit" onclick="this.disabled=true,this.form.submit();"
                class="col-12 btn btn-sm btn-outline-dark py-0 py-lg-1">
                {% trans "Filter" %}</button>
        </div>

        <!-- reset -->
        <!-- <div class="form-gourp col-6 col-lg mt-1 {{filter}}">
            <a href="#"
                class="btn btn-outline-secondary btn-sm col-12 border-top-0 border-left-0 border-right-0">{% trans "Clear Filter" %}</a>
        </div> -->

    </div>
</form>
<!-- /filters with brands, min_price, max_price -->