{% load static i18n %}

{% include 'boutique/include/modal_in_footer.html' %}

<footer class="d-flex align-items-center py-1 flex-column shadow-lg">

    <!-- Logo -->
    <div class="mt-4">
        <img src="{% static 'boutique/img/logo-long-dark.png' %}" alt="" height="60px">
    </div>

    <!-- About Us & Special Offer 2 columns in one row -->
    <div class="row mt-4 mb-3 w-100 text-capitalize">
        <div class="col-6 text-right">
            <h6 class="mb-2 border-bottom border-light">
                {% comment %}Translators: footer, left column, title{% endcomment %}
                {% trans "About Us" %}</h5>
                <div class="col-12 px-0">
                    <p class="mb-sm-0 mb-1"><a href="#vaBoutiqueModal" data-toggle="modal" class="text-black-50">
                            {% comment %}Translators: footer, left column, popup window title{% endcomment %}
                            {% trans "VA Boutique" %}</a></p>
                    <p class="mb-sm-0 mb-1"><a href="#deliveryAndPaymentModal" data-toggle="modal"
                            class="text-black-50">
                            {% comment %}Translators: footer, left column, popup window title{% endcomment %}
                            {% trans "Delivery and Payment" %}</a></p>
                    <p class="mb-sm-0 mb-1"><a href="#productsToChooseFromModal" data-toggle="modal" class="text-black-50">
                            {% comment %}Translators: footer, left column, popup window title{% endcomment %}
                            {% trans "Products to Choose from" %}</a></p>
                </div>
        </div>
        <div class="col-6">
            <h6 class="mb-2 border-bottom border-light">
                {% comment %}Translators: footer, right column, title{% endcomment %}
                {% trans "Special Offers" %}</h6>
            <div class="col-12 px-0">
                <p class="mb-sm-0 mb-1"><a href="#promotionModal" data-toggle="modal"
                        class="text-black-50">
                        {% comment %}Translators: footer, right column, popup window title{% endcomment %}
                        {% trans "Promotions" %}</a></p>
                <p class="mb-sm-0 mb-1"><a href="#wowModal" data-toggle="modal"
                        class="text-black-50">
                        {% comment %}Translators: footer, right column, popup window title{% endcomment %}
                        {% trans "ON SALE" %}</a></p>
                <p class="mb-sm-0 mb-1"><a href="#VIPModal" data-toggle="modal"
                        class="text-black-50">
                        {% comment %}Translators: footer, right column, popup window title{% endcomment %}
                        {% trans "VIP Order" %}</a></p>
            </div>
        </div>
    </div>
    <!-- / About Us & Special Offer -->

    <!-- Phone and Opening Hours -->
    <div class="row mt-3 w-100">
        <div class="col-6 text-muted text-right">+7 (925) 519-62-42</div>
        <div class="col-6 text-muted">{% trans "Opening hours: 24/7" %}</div>
    </div>

    <!-- fa icons -->
    <ul class="nav my-3 fa-2x">
        <li class="nav-item"><a class="nav-link text-black-50" href="#instagramModal" data-toggle="modal"><i
                    class="fab fa-instagram"></i></a></li>
        <li class="nav-item"><a class="nav-link text-black-50" href="#whatsappModal" data-toggle="modal"><i
                    class="fab fa-whatsapp"></i></a></li>
        <li class="nav-item"><a class="nav-link text-black-50" href="#contactModal" data-toggle="modal"><i
                    class="far fa-envelope"></i></a></li>
    </ul>

    <!-- Acknowledgement -->
    <div class="mb-2 text-muted text-center px-2">
        <p>
            <small>&copy; 2019 - 2020
                <a href="{% url 'boutique:index' %}" class="text-muted border-bottom">
                    VA BOUTIQUE</a> &nbsp; | &nbsp; DESIGNED BY:
                <a class="text-muted border-bottom" href="https://github.com/LD8">
                    DON LEE</a> &nbsp;</small>
        </p>
    </div>

</footer>