<footer class="d-flex align-items-center py-1 flex-column shadow-lg">
            
    <ul class="nav my-3 fa-2x">
        <li class="nav-item"><a class="nav-link text-secondary" href="#" ><i class="fab fa-instagram"></i></a></li>
        <li class="nav-item"><a class="nav-link text-secondary" href="#"><i class="fab fa-whatsapp-square"></i></a></li>
        <li class="nav-item"><a class="nav-link text-secondary" href="#"><i class="far fa-envelope"></i></a></li>
    </ul>
    <div class="mb-2 text-muted text-center px-2">
        <p>&copy; 2019 - 2020 <a href="#">VA BOUTIQUE</a> &nbsp; | &nbsp; DESIGN BY: <a href="http://github.com/LD8">DON LEE</a> &nbsp;</p>
    </div>

</footer>