{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg font-weight-light sticky-top">
    <a class="navbar-brand" href="{% url 'boutique:index' %}">
        <img src="{% static 'boutique/img/logos/icon_bright.jpg' %}" width="50" height="50" alt="">
    </a>
    <a class="navbar-brand font-weight-lighter" href="{% url 'boutique:index' %}">
        boutique </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Для женщин
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                    {% if category.gender == 1 %}
                    <a class="dropdown-item font-weight-lighter" href="{% url 'boutique:category' 'women' category.pk %}"><b>{{category.name}}</b></a>
                        {% for subcategory in category.subcategory_set.all %}
                        <a class="dropdown-item font-weight-lighter" href="{% url 'boutique:subcategory' 'women' category.pk subcategory.pk%}">&nbsp;&nbsp;{{subcategory.name}}</a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                    {% endif %}
                    {% endfor %}
                    <a class="dropdown-item font-weight-lighter" href="{% url 'boutique:show-all' 'women' %}"><b>Show All</b></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Для мужчин
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                    {% if category.gender == 2 %}
                    <a class="dropdown-item font-weight-lighter" href="{% url 'boutique:category' 'men' category.pk %}"><b>{{category.name}}</b></a>
                        {% for subcategory in category.subcategory_set.all %}
                        <a class="dropdown-item font-weight-lighter" href="{% url 'boutique:subcategory' 'men' category.pk subcategory.pk%}"> &nbsp; &nbsp;{{subcategory.name}}</a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                    {% endif %}
                    {% endfor %}
                    <a class="dropdown-item font-weight-lighter" href="{% url 'boutique:show-all' 'men' %}"><b>Show All</b></a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" id="search-form-1">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>
    </div>
</nav>