<div class="row">

    <div class="col-12 col-sm-8">
        <div id="item{{item.pk}}Carousel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                {% for image in item.itemimage_set.all %}
                <li data-target="#item{{item.pk}}Carousel" data-slide-to="{{forloop.counter0}}" 
                        {% if forloop.first %} class="active" {% endif %}></li>
                {% endfor %}
            </ol>

            <div class="carousel-inner shadow-lg rounded-sm">

                {% for image in item.itemimage_set.all %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <a href="#itemImageModal" data-toggle="modal"><img src="{{image.image.url}}" class="d-block w-100" alt="..."></a>
                </div>
                {% endfor %}

            </div>

            {% if item.itemimage_set.count > 1 %}
            <a class="carousel-control-prev" href="#item{{item.pk}}Carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#item{{item.pk}}Carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            {% endif %}

        </div>

    </div>


    <div class="pl-sm-0 col-12 col-sm-4 d-flex flex-wrap align-content-start">
        {% for image in item.itemimage_set.all %}
        <div class="col-4 
        {% if item.itemimage_set.count > 3 %}
        col-sm-6 
        {% else %}
        col-sm-8 
        {% endif %} 
        mt-2 px-1 mt-sm-0 pb-sm-2 pt-sm-0 mb-0">
            <img src="{{image.image.url}}" alt="" class="col-12 p-0 rounded-sm shadow-sm"
                data-target="#item{{item.pk}}Carousel" data-slide-to="{{forloop.counter0}}">
        </div>
        {% endfor %}
    </div>

</div>