<div class="col-6 col-md-4 col-lg-3 px-1 px-sm-2 d-flex flex-column">
    <a href="{% url 'boutique:item' item.pk %}">
        <img class="rounded-sm" src="{{item.itemimage_set.first.image.url}}" width="100%"
    alt=""></a>
    <div class="text-left p-1 mt-auto" style="font-size: 16px;">
        <div class="font-weight-light pt-2">
            <a href="{% url 'boutique:item' item.pk %}" class="text-dark mb-1">{{item}}</a>
        </div>

        <div class="font-weight-lighter">
            {% if item.discount %}

            <p>
                <strike class="text-muted">&#8381;&nbsp;{{item.price}}</strike>
                <b class="text-danger">&#8381;&nbsp;{{item.discounted_price}}</b>
                <small class="text-danger">(-{{item.discount}}%)</small>
            </p>

            {% else %}
            <p>&#8381;&nbsp;{{item.price}}</p>

            {% endif %}
        </div>
    </div>
</div>