{% load humanize i18n %}

<div class="font-weight-lighter">
    <!-- if user logged in/not -->
    {% if user.is_authenticated %}
    <!-- if item is tagged -->
    {% if item.tag is not None %}
    <!-- if item has discount -->
    {% if item.discount_percentage > 0 %}
    <p class="mb-1">
        <s class="text-muted mr-2"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.price|intcomma }}</s>
        <s class="text-muted mr-1"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.discounted_price|intcomma }}
            <small class="text-muted mr-1">(-{{item.discount_percentage}}%)</small></s>
    </p>
    <p class="mb-0">
        <small class="text-danger">{{item.tag}}</small>
    </p>
    <p class="mb-0">
        <b class="text-danger mr-1"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-danger"></i></span>{{item.final_price|intcomma }}</b>
        <small class="text-danger">(-{{item.total_discount_percentage}}%)</small>
    </p>

    {% else %}

    <p class="mb-0">
        <s class="text-muted mr-2"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.price|intcomma }}</s>
        <b class="text-danger mr-1"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-danger"></i></span>{{item.final_price|intcomma }}</b>
        <small class="text-danger">(-{{item.total_discount_percentage}}%)</small>
    </p>

    {% endif %}
    <!-- /if item has/not discount -->
    <!-- if item isn't tagged -->
    {% else %}
    <!-- if item has discount -->
    {% if item.discount_percentage > 0 %}

    <p class="mb-0">
        <s class="text-muted mr-2"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.price|intcomma }}</s>
        <b class="text-danger mr-1"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-danger"></i></span>{{item.final_price|intcomma }}</b>
        <small class="text-danger">(-{{item.discount_percentage}}%)</small>
    </p>

    {% else %}

    <p class="mb-0"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.price|intcomma }}</p>

    {% endif %}
    <!-- /if item has/not discount -->
    {% endif %}
    <!-- /if item is tagged/not -->

    <!-- if user isn't logged in -->
    {% else %}
    <!-- if item is tagged -->
    {% if item.tag is not None %}
    <!-- if item has discount -->
    {% if item.discount_percentage > 0 %}

    <p class="mb-0">
        <s class="text-muted mr-2"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.price|intcomma }}</s>
        <b class="text-danger mr-1"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-danger"></i></span>{{item.discounted_price|intcomma }}</b>
        <small class="text-danger">(-{{item.discount_percentage}}%)</small>
        <a href="#item{{item.pk}}discountTagModal" data-toggle="modal"><i class="fas fa-tags text-danger ml-2"></i></a>
    </p>

    {% else %}

    <p class="mb-0">
        <span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.price|intcomma }}
        <a href="#item{{item.pk}}discountTagModal" data-toggle="modal"><i class="fas fa-tags text-danger ml-2"></i></a>
    </p>

    {% endif %}
    <!-- /if item has/not discount -->
    <!-- if item isn't tagged -->
    {% else %}
    <!-- if item has discount -->
    {% if item.discount_percentage > 0 %}

    <p class="mb-0">
        <s class="text-muted mr-2"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.price|intcomma }}</s>
        <b class="text-danger mr-1"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-danger"></i></span>{{item.discounted_price|intcomma }}</b>
        <small class="text-danger">(-{{item.discount_percentage}}%)</small>
    </p>

    {% else %}

    <p class="mb-0"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.price|intcomma }}</p>

    {% endif %}
    <!-- /if item has/not discount -->
    {% endif %}
    <!-- /if item is tagged/not -->
    {% endif %}
    <!-- /if user logged in/not -->

</div>

<!-- discountTagModal -->
<div class="modal fade" id="item{{item.pk}}discountTagModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
        <div class="modal-content" style="height: 400px; max-width: 280px;">
            <div class="modal-body text-center bg-discount-tag">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="mb-3 text-danger font-weight-light" style="line-height: 40px;">
                    {% comment %}Translators: Join us NOW for extra ___blank percent discount of this iten...{% endcomment %}
                    {% trans "Join us NOW for extra" %}
                    <u>{{item.tag.tag_discount_percentage}}%</u> 
                    {% trans "discount of this item and SO MUCH MORE!!!" %}</h5>
                <div style="height: 160px;"></div>
                <a target="_blank" href="{% url 'users:register' %}" type="button"
                    class="btn btn-danger btn-sm align-self-end px-3">{% trans "Sign Up" %}</a>
            </div>
        </div>
    </div>
</div>
<!-- /discountTagModal -->