{% load i18n %}

<!-- display each item in its own box -->
<div class="col-6 col-md-4 col-lg-3 px-1 px-sm-2 d-flex flex-column wow fadeInUp" data-wow-duration="0.8s">

    {% if not item.in_stock %}
    <div class="enlarge ribbon-holder img-placeholder">
        <div class="ribbon ribbon-holder wow fadeIn" data-wow-delay="1s"><span>{% trans "Sold Out" %}</span></div>
        <!-- image anchor -->
        <a href="{{ item.get_absolute_url }}">
            <img class="rounded-sm loading" src="{{item.itemimage_set.first.image.url}}" width="100%" alt="{% trans 'An image of and a link to ' %}{{item.name}}"></a>
        <!-- /image anchor -->
    </div>

    {% else %}
    <div class="enlarge img-placeholder">
        <!-- image anchor -->
        <a href="{{ item.get_absolute_url }}">
            <img class="rounded-sm loading" src="{{item.itemimage_set.first.image.url}}" width="100%" alt="{% trans 'An image of and a link to ' %}{{item.name}}"></a>
        <!-- /image anchor -->
    </div>
    {% endif %}
    
    <!-- item price tag -->
    <div class="text-left p-1 mb-auto" style="font-size: 16px;">
        <div class="font-weight-light pt-2">
            <a href="{{ item.get_absolute_url }}" class="text-dark mb-1">{{item}}</a>
        </div>

        <div class="mb-3">
            {% include 'boutique/include/item_price.html' %}
        </div>
    </div>
    <!-- /item price tag -->

</div>