{% load humanize i18n %}

<div class="font-weight-lighter">
    <!-- if user logged in/not -->
    {% if user.is_authenticated %}
    <!-- if item is tagged -->
    {% if item.tag is not None %}
    <!-- if item has discount -->
    {% if item.discount_percentage > 0 %}
    <p class="mb-1">
        <s class="text-muted mr-2"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.price|intcomma }}</s>
        <s class="text-muted mr-1"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.discounted_price|intcomma }}
            <small class="text-muted mr-1">(-{{item.discount_percentage}}%)</small></s>
    </p>
    <p class="mb-0">
        <small class="text-danger">{{item.tag}}</small>
    </p>
    <p class="mb-0">
        <b class="text-danger mr-1"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-danger"></i></span>{{item.final_price|intcomma }}</b>
        <small class="text-danger">(-{{item.total_discount_percentage}}%)</small>
    </p>

    {% else %}

    <p class="mb-0">
        <s class="text-muted mr-2"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.price|intcomma }}</s>
        <b class="text-danger mr-1"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-danger"></i></span>{{item.final_price|intcomma }}</b>
        <small class="text-danger">(-{{item.total_discount_percentage}}%)</small>
    </p>

    {% endif %}
    <!-- /if item has/not discount -->
    <!-- if item isn't tagged -->
    {% else %}
    <!-- if item has discount -->
    {% if item.discount_percentage > 0 %}

    <p class="mb-0">
        <s class="text-muted mr-2"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.price|intcomma }}</s>
        <b class="text-danger mr-1"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-danger"></i></span>{{item.final_price|intcomma }}</b>
        <small class="text-danger">(-{{item.discount_percentage}}%)</small>
    </p>

    {% else %}

    <p class="mb-0"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.price|intcomma }}</p>

    {% endif %}
    <!-- /if item has/not discount -->
    {% endif %}
    <!-- /if item is tagged/not -->

    <!-- if user isn't logged in -->
    {% else %}
    <!-- if item is tagged -->
    {% if item.tag is not None %}
    <!-- if item has discount -->
    {% if item.discount_percentage > 0 %}

    <p class="mb-0">
        <s class="text-muted mr-2"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.price|intcomma }}</s>
        <b class="text-danger mr-1"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-danger"></i></span>{{item.discounted_price|intcomma }}</b>
        <small class="text-danger">(-{{item.discount_percentage}}%)</small>
        <a href="#itemDiscountTagModal" data-toggle="modal">
            <i class="fas fa-tags text-danger ml-2 wow bounceIn" data-wow-duration="2s" data-wow-delay="0.7s"></i></a>
    </p>

    {% else %}

    <p class="mb-0">
        <span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.price|intcomma }}
        <a href="#itemDiscountTagModal" data-toggle="modal">
            <i class="fas fa-tags text-danger ml-2 wow bounceIn" data-wow-duration="2s" data-wow-delay="0.7s"></i></a>
    </p>

    {% endif %}
    <!-- /if item has/not discount -->
    <!-- if item isn't tagged -->
    {% else %}
    <!-- if item has discount -->
    {% if item.discount_percentage > 0 %}

    <p class="mb-0">
        <s class="text-muted mr-2"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.price|intcomma }}</s>
        <b class="text-danger mr-1"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-danger"></i></span>{{item.discounted_price|intcomma }}</b>
        <small class="text-danger">(-{{item.discount_percentage}}%)</small>
    </p>

    {% else %}

    <p class="mb-0"><span class="mr-1"><i class="fas fa-ruble-sign fa-xs text-black-50"></i></span>{{item.price|intcomma }}</p>

    {% endif %}
    <!-- /if item has/not discount -->
    {% endif %}
    <!-- /if item is tagged/not -->
    {% endif %}
    <!-- /if user logged in/not -->

</div>
