<!-- display each item in its own box -->

<div class="col-6 col-md-4 col-lg-3 px-1 px-sm-2 d-flex flex-column">

    <!-- image anchor -->
    <a href="{{ item.get_item_url }}">
        <img class="rounded-sm" src="{{item.itemimage_set.first.image.url}}" width="100%"
    alt=""></a>
    <!-- /image anchor -->

    <!-- item price tag -->
    <div class="text-left p-1 mt-auto" style="font-size: 16px;">
        <div class="font-weight-light pt-2">
            <a href="{{ item.get_item_url }}" class="text-dark mb-1">{{item|title}}</a>
        </div>

        <div class="font-weight-lighter">
            {% include 'boutique/include/item_price.html' %}
        </div>
    </div>
    <!-- /item price tag -->
    
</div>