{% load static %}
<style>
    .bg-instagram,
    .bg-whatsapp,
    .bg-contact,
    .bg-discount-tag {
        background-size: cover;
        background-position: center;
    }

    .bg-instagram {
        background-image:url("{% static 'boutique/img/bg-instagram.png' %}");
    }

    .bg-whatsapp {
        background-image:url("{% static 'boutique/img/bg-whatsapp.png' %}");
    }

    .bg-contact {
        background-image:url("{% static 'boutique/img/bg-contact.png' %}");
    }
    .bg-discount-tag {
        background-image:url("{% static 'boutique/img/bg-discount-tag.png' %}");
    }
</style>

<!-- Instagram Modal -->
<div class="modal fade" id="instagramModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center bg-instagram">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="mb-3 text-warning font-weight-light">Stay tuned with our Instagram!!</h5>
                <div style="height: 150px"></div>
                <a target="_blank" href="https://instagram.com/va_boutique_va" type="button"
                    class="btn btn-outline-warning font-weight-lighter align-self-end px-5">Follow Now!</a>
            </div>
        </div>
    </div>
</div>


<!-- Whatsapp Modal -->
<div class="modal fade" id="whatsappModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center bg-whatsapp">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="text-success font-weight-lighter">Contact your personal stylist NOW!</h5>
                <div style="height: 150px"></div>
                <a target="_blank" href="https://web.whatsapp.com/" type="button"
                    class="mt-3 font-weight-lighter btn btn-outline-success align-self-end border-top-0 border-right-0 border-left-0">+7
                    (925) 519-62-42</a>
            </div>
        </div>
    </div>
</div>


<!-- Contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-lighter" id="exampleModalCenterTitle">Contact us for VIP orders!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-dark font-weight-light">
                <h6>There are several ways to place your order:</h6>
                <div class="pl-3">
                    <p>1. call our sales team directly</p>
                    <p>2. contact our stylist on whatsapp</p>
                    <p>3. Email us with your requests and our sales team will get back to you asap!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-sm btn-secondary mr-auto" data-dismiss="modal">Close</button>

                <button type="button" class="btn-sm btn-success">Email Now</button>
                <button type="button" class="btn-sm btn-success">Call Now</button>
            </div>
        </div>
    </div>
</div>


<!-- Policy Modal -->
<div class="modal fade" id="policyModalScrollable" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Our Policy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Tellus mauris a diam maecenas sed enim ut sem. Nibh tellus molestie nunc non. Erat
                pellentesque adipiscing commodo elit at imperdiet dui accumsan. Malesuada nunc vel risus commodo viverra
                maecenas accumsan. Pretium quam vulputate dignissim suspendisse. Sit amet porttitor eget dolor morbi.
                Morbi tristique senectus et netus et malesuada. Etiam non quam lacus suspendisse faucibus. Congue nisi
                vitae suscipit tellus.

                Integer quis auctor elit sed vulputate mi sit amet mauris. Justo eget magna fermentum iaculis eu non
                diam phasellus. Vulputate odio ut enim blandit volutpat maecenas volutpat. Pellentesque elit ullamcorper
                dignissim cras tincidunt. Feugiat nisl pretium fusce id. Placerat orci nulla pellentesque dignissim enim
                sit. Erat imperdiet sed euismod nisi porta. Dolor sit amet consectetur adipiscing elit duis tristique.
                Odio pellentesque diam volutpat commodo sed egestas egestas fringilla. Sit amet massa vitae tortor
                condimentum lacinia quis vel eros. Pretium aenean pharetra magna ac placerat vestibulum lectus. Laoreet
                id donec ultrices tincidunt arcu non. Commodo elit at imperdiet dui accumsan sit.

                Sed vulputate odio ut enim. Volutpat lacus laoreet non curabitur. Enim eu turpis egestas pretium aenean
                pharetra. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Molestie ac feugiat sed
                lectus. A diam sollicitudin tempor id eu nisl. In dictum non consectetur a erat. Dolor purus non enim
                praesent elementum facilisis. Aliquet eget sit amet tellus cras adipiscing enim. Convallis tellus id
                interdum velit laoreet id donec. Lacus viverra vitae congue eu consequat. Netus et malesuada fames ac
                turpis. Volutpat ac tincidunt vitae semper quis lectus nulla. Metus vulputate eu scelerisque felis
                imperdiet. Nec feugiat nisl pretium fusce id velit ut tortor pretium. Ipsum dolor sit amet consectetur
                adipiscing elit pellentesque habitant morbi. Libero id faucibus nisl tincidunt eget. Cras fermentum odio
                eu feugiat pretium nibh ipsum consequat.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>