<!-- How to Buy Modal -->
<div class="modal fade" id="howToBuyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-lighter" id="exampleModalCenterTitle">Contact us for VIP orders!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-dark font-weight-light">
                <h5>How to Buy:</h5>
                <div class="pl-3">
                    <p>1. xxxxxxxxxx</p>
                    <p>2. xxxxxxxxxx</p>
                    <p>3. xxxxxxxxxx</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-sm btn-secondary mr-auto" data-dismiss="modal">Close</button>

                <button type="button" class="btn-sm btn-success">Email Now</button>
                <button type="button" class="btn-sm btn-success">Call Now</button>
            </div>
        </div>
    </div>
</div>

<!-- Delivery and payment Modal -->
<div class="modal fade" id="deliveryAndPaymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-lighter" id="exampleModalCenterTitle">Contact us for VIP orders!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-dark font-weight-light">
                <h5>Delivery and Payment:</h5>
                <div class="pl-3">
                    <p>1. xxxxxxxxxx</p>
                    <p>2. xxxxxxxxxx</p>
                    <p>3. xxxxxxxxxx</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-sm btn-secondary mr-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- About Us Modal -->
<div class="modal fade" id="aboutUsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-lighter" id="exampleModalCenterTitle">Contact us for VIP orders!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-dark font-weight-light">
                <h5>About Us</h5>
                <div class="pl-3">
                    <p>1. xxxxxxxxxx</p>
                    <p>2. xxxxxxxxxx</p>
                    <p>3. xxxxxxxxxx</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-sm btn-secondary mr-auto" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

