{% load static %}
<style>
    html {
        scroll-behavior: smooth;
    }

    .ribbon-holder {
        overflow: hidden;
        position: relative
    }

    .ribbon {
        position: absolute;
        background: rgba(139, 10, 1, 0.7);
        color: white;
        /* box-shadow: -2px 2px #888888; */
        font-size: 15px;
        /* transform: rotate(-45deg); */
        text-align: left;
        top: 18px;
        right: -36px;
        width: 110px;
    }

    @media only screen and (max-width: 768px) {
        .ribbon {
            font-size: 12px;
        }
    }

    /* 
    --- modal manager --- 
    #
    instagramModal
    whatsappModal
    contactModal
    policyModalScrollable
    itemImageModal
    wishListSignUpModal

    --- About Us Section ---
    vaBoutiqueModal
    deliveryAndPaymentModal
    productsToChooseFromModal

    --- Special Offer Section ---
    promotionModal
    wowModal
    VIPModal
    */

    .modal-body {
        border-radius: 5px;
        border: none;
    }

    .bg-instagram,
    .bg-whatsapp,
    .bg-contact,
    .bg-discount-tag,
    .bg-wishlist,
    .bg-promotion,
    .bg-wow,
    .bg-vip {
        background-size: cover;
        background-position: center;
    }

    .bg-instagram {
        background-image:url("{% static 'boutique/img/bg-instagram.png' %}");
    }

    .bg-whatsapp {
        background-image:url("{% static 'boutique/img/bg-whatsapp.png' %}");
    }

    .bg-contact {
        background-image:url("{% static 'boutique/img/bg-contact.jpg' %}");
    }

    .bg-discount-tag {
        background-image:url("{% static 'boutique/img/bg-discount-tag.png' %}");
    }

    .bg-wishlist {
        background-image:url("{% static 'boutique/img/bg-wishlist.png' %}");
    }

    .bg-promotion {
        background-image:url("{% static 'boutique/img/bg-promotion.jpg' %}");
    }

    .bg-wow {
        background-image:url("{% static 'boutique/img/bg-wow.jpg' %}");
    }

    .bg-vip {
        background-image:url("{% static 'boutique/img/bg-vip.jpg' %}");
    }
</style>