{% load i18n %}

<!-- Instagram Modal -->
<div class="modal fade" id="instagramModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center bg-instagram">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="mb-3 text-warning font-weight-light">{% trans "Stay tuned with our Instagram!!" %}</h5>
                <div style="height: 150px"></div>
                <a target="_blank" href="https://www.instagram.com/va_boutique_com/" type="button"
                    class="btn btn-sm btn-warning text-danger font-weight-lighter align-self-end px-5">{% trans "Follow Now!" %}</a>
            </div>
        </div>
    </div>
</div>


<!-- Whatsapp Modal -->
<div class="modal fade" id="whatsappModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center bg-whatsapp">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="text-white font-weight-lighter">
                    {% comment %}Translators: text on whatsapp contact popup view, encouraging people to contact via whatsapp{% endcomment %}
                    {% trans "Contact your personal stylist NOW!" %}</h5>
                <div style="height: 150px"></div>
                <a target="_blank" href="https://web.whatsapp.com/" type="button"
                    class="mt-3 btn-sm font-weight-lighter btn text-success px-3 btn-light align-self-end">+7
                    (925) 519-62-42</a>
            </div>
        </div>
    </div>
</div>


<!-- Contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center bg-contact">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="text-info font-weight-lighter">
                    {% comment %}Translators: text on email us{% endcomment %}
                    {% trans "Please email us for more information" %}</h5>
                <div style="height: 150px"></div>
                <a target="_blank" href="mailto:va@va-boutique.com" type="button"
                    class="mt-3 btn-sm font-weight-lighter px-3 btn btn-outline-info align-self-end">
                    va@va-boutique.com</a>
            </div>
        </div>
    </div>
</div>
