{% load static %}
<style>
    html {
        scroll-behavior: smooth;
    }

    /* 
    --- modal manager --- 
    #
    instagramModal
    whatsappModal
    contactModal
    policyModalScrollable
    itemImageModal
    wishListSignUpModal

    --- About Us Section ---
    vaBoutiqueModal
    deliveryAndPaymentModal
    productsToChooseFromModal

    --- Special Offer Section ---
    promotionModal
    wowModal
    VIPModal
    */

    .modal-body {
        border-radius: 5px;
        border: none;
    }

    .bg-instagram,
    .bg-whatsapp,
    .bg-contact,
    .bg-discount-tag,
    .bg-wishlist,
    .bg-promotion,
    .bg-wow,
    .bg-vip {
        background-size: cover;
        background-position: center;
    }

    .bg-instagram {
        background-image:url("{% static 'boutique/img/bg-instagram.png' %}");
    }

    .bg-whatsapp {
        background-image:url("{% static 'boutique/img/bg-whatsapp.png' %}");
    }

    .bg-contact {
        background-image:url("{% static 'boutique/img/bg-contact.jpg' %}");
    }

    .bg-discount-tag {
        background-image:url("{% static 'boutique/img/bg-discount-tag.png' %}");
    }

    .bg-wishlist {
        background-image:url("{% static 'boutique/img/bg-wishlist.png' %}");
    }

    .bg-promotion {
        background-image:url("{% static 'boutique/img/bg-promotion.jpg' %}");
    }

    .bg-wow {
        background-image:url("{% static 'boutique/img/bg-wow.jpg' %}");
    }

    .bg-vip {
        background-image:url("{% static 'boutique/img/bg-vip.jpg' %}");
    }
</style>