{% load static %}
<style>
    html {
        scroll-behavior: smooth;
    }

    .ribbon-holder {
        overflow: hidden;
        position: relative
    }

    a.text-dark:hover {
        color: rgb(248, 183, 164) !important;
    }

    /* angled ribbon */
    .ribbon {
        position: absolute;
        background: rgba(139, 1, 1, 0.829);
        color: white;
        box-shadow: 0px 0px 6px grey;
        font-size: 14px;
        transform: rotate(45deg);
        text-align: center;
        top: 20px;
        right: -55px;
        width: 180px;
        padding: 4px 0;
    }

    @media only screen and (max-width: 768px) {
        .ribbon {
            font-size: 12px;
            box-shadow: 0px 0px 5px grey;
            top: 13px;
            right: -38px;
            width: 120px;
            padding: 2px 0;
        }
    }

    /* 
    --- modal manager --- 
    #
    instagramModal
    whatsappModal
    contactModal
    policyModalScrollable
    itemImageModal
    wishListSignUpModal

    --- About Us Section ---
    vaBoutiqueModal
    deliveryAndPaymentModal
    productsToChooseFromModal

    --- Special Offer Section ---
    promotionModal
    wowModal
    VIPModal
    */

    .modal-body {
        border-radius: 5px;
        border: none;
    }

    .bg-instagram,
    .bg-whatsapp,
    .bg-contact,
    .bg-discount-tag,
    .bg-wishlist,
    .bg-promotion,
    .bg-wow,
    .bg-vip {
        background-size: cover;
        background-position: center;
    }

    .bg-instagram {
        background-image:url("{% static 'boutique/img/bg-instagram.jpg' %}");
    }

    .bg-whatsapp {
        background-image:url("{% static 'boutique/img/bg-whatsapp.jpg' %}");
    }

    .bg-contact {
        background-image:url("{% static 'boutique/img/bg-contact.jpg' %}");
    }

    .bg-discount-tag {
        background-image:url("{% static 'boutique/img/bg-discount-tag.png' %}");
    }

    .bg-wishlist {
        background-image:url("{% static 'boutique/img/bg-wishlist.jpg' %}");
    }

    .bg-promotion {
        background-image:url("{% static 'boutique/img/bg-promotion.jpg' %}");
    }

    .bg-wow {
        background-image:url("{% static 'boutique/img/bg-wow.jpg' %}");
    }

    .bg-vip {
        background-image:url("{% static 'boutique/img/bg-vip.jpg' %}");
    }
</style>