{% extends 'boutique/ele.html' %}

{% block ele %}


{% include 'boutique/include/header.html' %}

<main class="container">

    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    {% endfor %}

    {% block content %}{% endblock content %}

    <!-- Category list for women/men & Search Form -->
    {% include 'boutique/include/before_footer.html' %}

</main>

{% include 'boutique/include/footer.html' %}


{% endblock ele %}