{% load bootstrap4 %}
{% load static i18n %}

<html lang="en">

<head>
    <!-- Global site tag - gtag.js - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160154550-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-160154550-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="
        {% if meta.content %}{{meta.content}}
        {% else %}Онлайн бутик VA это стильная одежда и аксессуары премиум качество по доступным ценам! Бесплатная доставка по России!
        {% endif %}">
    <meta name=”robots” content=”index”>

    <!-- open graph tags for social media -->
    <meta property="og:site_name" content="VA Boutique">
    <meta property="og:title" content="VA Boutique - Сумки | Бижутерия | Обувь" />
    <meta property="og:description" content="Онлайн бутик VA это стильная одежда и аксессуары премиум качество по доступным ценам! Бесплатная доставка по России!" />
    <meta property="og:image" itemprop="image" content="{% static 'boutique/img/icon-bright.png' %}">
    <meta property="og:image:secure_url" itemprop="image" content="{% static 'boutique/img/icon-bright.png' %}">
    <meta property="og:type" content="shop" />
    <meta property="og:updated_time" content="1583934971" />

    <!-- title icon -->
    <link rel="icon" type="image/gif/png" href="{% static 'boutique/img/icon-bright.png' %}">

    <!-- fontawesome css -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'boutique/css/fontawesome/all.css' %}"> -->
    <!-- <script src="https://kit.fontawesome.com/5b5c2e4b34.js" crossorigin="anonymous"></script> -->
    <script type="text/javascript">
        (function () {
            var css = document.createElement('link');
            css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css';
            css.rel = 'stylesheet';
            css.type = 'text/css';
            document.getElementsByTagName('head')[0].appendChild(css);
        })(); 
    </script>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'boutique/css/animate.css' %}">
    <!-- wow.js -->
    <script src="{% static 'boutique/js/wow.min.js' %}"></script>
    <script>
    new WOW().init();
    </script>

    <!-- customised css -->
    <link rel="stylesheet" type="text/css" href="{% static 'boutique/css/custom.css' %}">
    {% include 'boutique/include/modal_style.html' %}

    <title>
        {% if meta.title %}{{meta.title}}
        {% else %}VA Boutique - Сумки | Бижутерия | Обувь
        {% endif %}
    </title>
</head>

<body id="bootstrap-override" class="d-flex flex-column">
    <a id="top"></a>
    {% block ele %}{% endblock ele %}

</body>

</html>