{% load bootstrap4 %}
{% load static %}
{% load i18n %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- title icon -->
    <link rel="icon" type="image/gif/png" href="{% static 'boutique/img/icon-bright.png' %}">

    <!-- fontawesome css -->
    <link rel="stylesheet" type="text/css" href="{% static 'boutique/css/fontawesome/all.css' %}">
    <!-- <script src="https://kit.fontawesome.com/5b5c2e4b34.js" crossorigin="anonymous"></script> -->
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <!-- customised css -->
    <link rel="stylesheet" type="text/css" href="{% static 'boutique/css/custom.css' %}">
    {% include 'boutique/include/modal_style.html' %}

    <title>VA Boutique</title>
</head>

<body id="bootstrap-override" class="d-flex flex-column">

    {% block ele %}{% endblock ele %}

</body>

</html>