{% extends 'boutique/base.html' %}
{% load i18n %}

{% block content %}

<div class="mt-4 mt-lg-5 text-center mb-3 mb-md-5">

    <div>
        <div class="px-1">

            {% if filters.subcategory %}
            <h4 class="mt-5 font-weight-lighter wow fadeInDown">
                {% comment %}Translators: title of filtered result page, following by the category/subcategory name{% endcomment %}
                {% trans "Filtered " %}
                <a class="text-black-50 font-italic border-bottom"
                    href="{{filters.subcategory.get_absolute_url}}">{{filters.subcategory.name}}</a>
            </h4>

            {% elif filters.category %}
            <h4 class="mt-5 font-weight-lighter wow fadeInDown">
                {% trans "Filtered " %}
                <a class="text-black-50 font-italic border-bottom"
                    href="{{filters.category.get_absolute_url}}">{{filters.category.name}}</a>
            </h4>

            {% else %}
            <h3 class="mt-5 font-weight-lighter wow fadeInDown">
                <span class="font-italic">{{brand_selected_from_all}}</span>
            </h3>
            {% endif %}

            <div class="mb-3 mt-3 px-lg-1 wow fadeInUp" data-wow-delay="0.3s">
                {% include 'boutique/include/filter_form.html' with filter='' %}
            </div>
        </div>

        <div class="container p-0 m-0 row mb-5 wow fadeIn" data-wow-delay="0.8s">
            {% for item in items %}
            {% include 'boutique/include/item_in_listviews.html' %}
            {% empty %}
            <p class="text-black-50 col-12">{% trans "More products comming soon..." %}</p>
            {% endfor %}
        </div>

        {% include 'boutique/include/to_top_btn.html' %}
    </div>

    <h1 class="h1-title-text my-2">
        Качественные копии/реплики брендов в интернет магазине VA boutique. Cтильная одежда и аксессуары премиум качества по доступным ценам! Бесплатная доставка по России!
    </h1>
</div>

{% include 'boutique/include/before_before_footer.html' %}

{% endblock content %}