{% extends 'boutique/base.html' %}

{% block content %}


<!-- if show all categories of women/men -->
{% if category_shown.count > 1 %}

    {% for category in category_shown %}
    <!-- if there's no items in this category, skip to the next category -->
    {% if category.item_set.count > 0 %}

    <div class=" mt-5 text-center">
        <h4 class="border-bottom">{{category}}</h4>

        <!-- when this category has subcategories -->
        {% if category.subcategory_set.count > 0 %}

        <div class="container px-2">
            {% for subcategory in category.subcategory_set.all %}

            <!-- if there's no items under this subcategory, skip to the next subcategory -->
            {% if subcategory.item_set.count > 0 %}

            <h6 class="mt-3 border-bottom border-light">{{subcategory.name}}</h6>
            <div class="row">
                {% for item in subcategory.item_set.all %}

                {% include 'boutique/include/item_in_items.html' %}

                {% endfor %}
            </div>

            {% endif %}
            {% endfor %}
        </div>

        <!-- when this category does not have a subcategory -->
        {% else %}

        <div class="row">
            {% for item in category.item_set.all %}

            {% include 'boutique/include/item_in_items.html' %}

            {% endfor %}
        </div>

        {% endif %}

    </div>

    {% endif %}
    {% endfor %}

<!-- one specific category w/ or w/o subcategory to show -->
{% else %}

    <div class="mt-5 text-center">

        <h4 class="border-bottom">{{category_shown}}</h4>

        <div class="container px-2">

            <!-- display a subcategory name if specified -->
            {% if subcategory_shown %}
            <h6 class="mt-3 border-bottom border-light">{{subcategory_shown}}</h6>
            {% endif %}

            <!-- display all items in the queryset -->
            <div class="row">
                {% for item in item_list %}

                {% include 'boutique/include/item_in_items.html' %}

                {% endfor %}
            </div>
            
        </div>

    </div>

{% endif %}


{% endblock content %}