{% extends 'boutique/base.html' %}

{% block content %}
<style>
    .breadcrumb-sm {
        display: none;
    }

    @media only screen and (max-width: 500px) {
        .breadcrumb {
            display: none;
        }

        .breadcrumb-sm {
            display: block;
        }
    }
</style>

<!-- item -->
<div class="mt-3 ">

    <!-- back button: only shown on small screen -->
    <div class="breadcrumb-sm">
        <form>
            <input type="button" value="&#10229;" onclick="history.back()" class="text-muted btn">
        </form>
    </div>
    <!-- /back button -->

    <!-- breadcrumb -->
    <nav aria-label="breadcrumb border-bottom">
        <ol class="breadcrumb px-1 font-weight-light">
            <li class="breadcrumb-item"><a class="border-bottom text-dark"
                    href="{{item.category.get_category_url}}">{{item.category}}</a></li>
            {% if item.subcategory %}
            <li class="breadcrumb-item"><a class="border-bottom text-dark"
                    href="{{item.subcategory.get_subcategory_url}}">{{item.subcategory.name}}</a></li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">{{item.name}}</li>
        </ol>
    </nav>
    <!-- / breakcrumb -->

    <!-- item images and thumbnails -->
    {% include 'boutique/include/item_carousel.html' %}
    <!-- /item images -->

    <!-- item words -->
    <div class="text-left p-2 mt-auto">

        <div class="pt-2 mt-3">
            <p class="font-weight-light mb-1 text-capitalize">{{item}}</p>
        </div>

        <!-- item price -->
        <div class="font-weight-lighter ">
            {% if item.discount %}

            <p>
                <strike class="text-muted">&#8381;&nbsp;{{item.price}}</strike>
                <b class="text-danger">&nbsp;&#8381;&nbsp;{{item.discounted_price}}</b>
                <small class="text-danger">(-{{item.discount}}%)</small>
            </p>

            {% else %}
            <p>&#8381;&nbsp;{{item.price}}</p>

            {% endif %}
        </div>
        <!-- / item price -->

        <div class="font-weight-light">
            {{item.description|linebreaks}}
        </div>

    </div>
    <!-- / item words -->

</div>
<!-- / item -->

<hr class="mt-3">
{% include 'boutique/include/before_footer.html' %}

{% endblock content %}