{% extends 'boutique/base.html' %}

{% block content %}

<!-- item -->
<div class="mt-3 ">

    {% include 'boutique/include/breadcrumb_and_back_button.html' %}

    <!-- item images and thumbnails -->
    {% include 'boutique/include/item_carousel.html' %}
    <!-- /item images -->

    <!-- item information: title, price, wish, add to shopping bag, buy now -->
    <div class="row text-left p-2 mt-auto">

        <!-- item title, price, wish, description -->
        <div class="col-12 col-md-8">

            <!-- item title -->
            <div class="pt-2 my-3 d-flex align-items-center">
                <h4 class="font-weight-light mb-1 text-capitalize">{{item}}</h4>
                <!-- wish: a heart sign -->
                <div class="ml-auto">
                    <a href="#"><i class="far fa-heart fa-lg text-danger"></i></a>
                </div>
            </div>
            
            <!-- item price -->
            {% include 'boutique/include/item_price.html' %}
            <!-- / item price -->

            <!-- item description -->
            <div class="font-weight-light my-4 text-justify" style="font-size: 16px">
                {{item.description|linebreaks}}
            </div>

        </div>

        <!-- /item title, price, wish, description -->

        <!-- shopping bag sign, buy now button -->
        <div class="col-12 col-md-4 mt-2">

            <a href="#" class="btn btn-outline-secondary col-12 my-2 px-0 px-sm-3">Add to Bag </a>
            <a href="#" class="btn btn-dark col-12 my-2 px-0 px-sm-3">Buy Now</a>
            <a href="#"
                class="btn btn-outline-secondary col-12 my-2 px-0 px-sm-3 border-top-0 border-right-0 border-left-0">Delivery
                Policy</a>
            <a href="#"
                class="btn btn-outline-secondary col-12 my-2 px-0 px-sm-3 border-top-0 border-right-0 border-left-0">Contact
                Directly</a>

        </div>

    </div>

    <!-- /item information -->
</div>
<!-- / item -->

<hr class="mt-3">

<!-- itemImageModal -->
<div class="modal fade" id="itemImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered col-12 col-md-8 modal-lg" role="document">
        <div class="modal-content">
            {% include 'boutique/include/item_image_modal_carousel.html' %}
        </div>
    </div>
</div>


{% endblock content %}