{% extends 'boutique/base.html' %}

{% block content %}

{% for category in categories %}
{% if category.item_set.count > 0 %}
<!-- if there's no items in this category, skip to the next category -->

<div class=" mt-5 text-center">
    <h4 class="border-bottom">{{category}}</h4>

    {% if category.subcategory_set.count > 0 %}
    <!-- when this category has subcategories -->

    <div class="container px-2">
        {% for subcategory in category.subcategory_set.all %}
        {% if subcategory.item_set.count > 0 %}
        <!-- if there's no items under this subcategory, skip to the next subcategory -->

        <h6 class="mt-3 border-bottom border-light">{{subcategory.name}}</h6>
        <div class="row  wow fadeIn">
            {% for item in subcategory.item_set.all %}

            <div class="col-6 col-md-4 col-lg-3 px-1 px-sm-2 d-flex flex-column">
                <img class="justify-content-start" src="{{item.itemimage_set.first.image.url}}" width="100%" height="auto"
                alt="">
                <div class="text-left p-1 mt-auto" style="font-size: 16px;">
                    <div class="font-weight-light pt-2">
                        <p class=" mb-1">{{item}}</p>
                    </div>

                    <div class="font-weight-lighter">
                        {% if item.discount %}

                        <p>
                            <strike class="text-muted">&#8381;&nbsp;{{item.price}}</strike>
                            <b class="text-danger">&#8381;&nbsp;{{item.discounted_price}}</b>
                            <small class="text-danger">(-{{item.discount}}%)</small>
                        </p>

                        {% else %}
                        <p>&#8381;&nbsp;{{item.price}}</p>

                        {% endif %}
                    </div>
                </div>
            </div>
            {% empty %}
            <small>Please wait for more...</small>

            {% endfor %}
        </div>

        {% endif %}
        {% endfor %}
    </div>

    {% else %}
    <!-- when this category does not have a subcategory -->

    <div class="row">
        {% for item in category.item_set.all %}

        <div class="col-6 col-md-4 col-lg-3 px-sm-1">
            <img class="" src="{{item.itemimage_set.first.image.url}}" width="100%" height="auto" alt="">
            <div class="text-left p-1 mt-auto" style="font-size: 16px;">
                <div class="font-weight-light pt-2">
                    <p class=" mb-1">{{item}}</p>
                </div>

                <div class="font-weight-lighter">
                    {% if item.discount %}

                    <p>
                        <strike class="text-muted">&#8381;&nbsp;{{item.price}}</strike>
                        <b class="text-danger">&#8381;&nbsp;{{item.discounted_price}}</b>
                        <small class="text-danger">(-{{item.discount}}%)</small>
                    </p>

                    {% else %}
                    <p>&#8381;&nbsp;{{item.price}}</p>

                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
        <small>Please wait for more...</small>

        {% endfor %}
    </div>

    {% endif %}

</div>

{% endif %}
{% endfor %}

{% endblock content %}