{% extends 'boutique/base.html' %}
{% load i18n %}

{% block content %}

<div class="new-cover shadow-lg mb-4 mb-md-5 wow slideInDown" data-wow-delay="0.4s"><img style="display: none;" src="../img/new-cover.jpg" alt=""></div>

<div class="text-center mb-lg-4 px-1">
    <h2 class="border-bottom border-dark wow fadeInDown">Новинки VA</h2>
    <h1 class="h1-title-text mb-4 wow fadeInUp">Купить копии / реплики брендов ой одежды с бесплатной доставкой по всей России</h1 class="h1-title-text">
</div>

<div>
    <div class="container p-0 m-0 row">
        {% for item in items %}

        {% include 'boutique/include/item_in_listviews.html' %}

        {% endfor %}
    </div>
</div>

{% include 'boutique/include/before_before_footer.html' %}
{% endblock content %}