{% extends 'boutique/base.html' %}

{% block content %}
<div class="sales-cover shadow-lg mb-4 mb-md-5">
</div>
<div class="row">
    {% for item in items %}

    {% include 'boutique/include/item_in_listviews.html' %}

    {% endfor %}
</div>
<div class="border-bottom text-black-50 mt-4 mt-lg-5 d-flex justify-content-center align-items-center">
    <p><i class="fas fa-angle-double-down fa-sm mr-3 mr-sm-5"></i></p>
    <h5 class="mt-n2">And so much more</h5>
    <p><i class="fas fa-angle-double-down fa-sm ml-3 ml-sm-5"></i></p>
</div>
{% endblock content %}