{% extends 'boutique/base.html' %}

{% block content %}

{% include 'boutique/include/filters.html' %}
<div class="container px-2">
    <p class="mb-3 mb-lg-4 mt-2 mt-lg-5 text-black-50 text-center border-bottom">- <em class="font-weight-bolder">
            {% if query is not None %}{{query}}{% else %}Your filtered result{% endif %}</em> is
        showing below -</p>

    <div class="row">
        {% for item in item_list %}

        {% include 'boutique/include/item_in_items.html' %}

        {% empty %}
        <div class="mb-3 mb-lg-4 mt-5 text-black-50 text-center col-12">

            <p class="mb-1 col-12">Oops...</p>
            <p>No result of <em class="font-weight-bolder"> {{query}} </em> is showing please try a
                different wording or browse from our categories </p>
        </div>


        {% endfor %}
    </div>

</div>

{% endblock content %}