{% extends 'boutique/base.html' %}
{% load i18n %}

{% block content %}

<div class="mt-3">
    <div class="container px-1">
    {% include 'boutique/include/filter_icon.html' %}
    </div>
    {% include 'boutique/include/filter_form.html' with filter='filter' %}
</div>

{% if h1_title_text %}
<div class="container px-1 wow fadeInUp text-center">
    <h1 class="h1-title-text">{{ h1_title_text }}</h1>
</div>
{% endif %}

{% for category in categories_shown %}
<!-- wrapper for each category -->
<div class="mt-4 mt-lg-5 text-center mb-3 mb-md-5">

    <!-- when this category is fertile: has subcategories -->
    {% if category.subcategory_set.count > 0 %}

    <!-- subcategory iteration -->
    {% for subcategory in category.subcategory_set.all %}

    <div>
        <!-- title block -->
        <div class="mb-3 px-1">
            <h2 class="mb-1 pb-1 border-bottom border-dark font-weight-light wow fadeInDown" data-wow-delay="0.2s">
                <a class="text-dark" href="{{category.get_absolute_url}}">{{category.name}}</a>
            </h2>
            <h5 class="mt-1 pb-2 font-weight-lighter wow bounceIn" data-wow-delay="0.4s">
                <a class="text-dark border-bottom" href="{{subcategory.get_absolute_url}}">{{subcategory.name}}</a></h5>
        </div>
        <!-- / title block -->
        
        <div class="container p-0 m-0 row mb-5 wow fadeIn" data-wow-delay="0.7s">

            {% for item in subcategory.item_set.all|slice:":8" %}
            {% include 'boutique/include/item_in_listviews.html' %}
            {% endfor %}

            {% if subcategory.item_set.count > 8 %}
            <a href="{{subcategory.get_absolute_url}}"
                class="btn btn-sm btn-outline-dark w-100 mt-1 mb-5 py-0 shadow-sm wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="0.6s">
                »»» <span class="px-3 px-lg-5">{% trans "more" %}</span> «««</a>
            {% endif %}

        </div>
    </div>

    {% endfor %}
    <!-- / subcategory iteration -->

    {% else %}
    <!-- when this category is barren: does not have a subcategory -->

    <div>
        <div class="text-center">
            <h2 class="mb-3 pb-1 border-bottom font-weight-light wow fadeInDown">
                <a class="text-dark" href="{{category.get_absolute_url}}">{{category.name}}</a>
            </h2>

            <!-- show description if there is one -->
            {% if category.description %}
            <p class="mt-n2 mb-4 wow fadeInUp" data-wow-delay="0.2s"><small class="font-weight-lighter">{{category.description}}</small></p>
            {% endif %}
        </div>

        <div class="container p-0 m-0 row mb-5 wow fadeIn" data-wow-delay="0.7s">

            {% for item in category.item_set.all|slice:":8" %}
            {% include 'boutique/include/item_in_listviews.html' %}
            {% endfor %}

            {% if category.item_set.count > 8 %}
            <a href="{{category.get_absolute_url}}" class="btn btn-sm btn-outline-dark w-100 mt-1 mb-5 py-0 shadow-sm wow fadeInUp" data-wow-delay="0.3s" data-wow-duration="0.6s">
                »»» <span class="px-3 px-lg-5">{% trans "more" %}</span> «««</a>
            {% endif %}

        </div>
    </div>

    {% endif %}
    <!-- / this category has subcategories or not -->

</div>
<!-- / wrapper for each category -->
{% endfor %}
<!-- /end categories forloop -->

{% include 'boutique/include/to_top_btn.html' %}

{% include 'boutique/include/before_before_footer.html' %}

{% endblock content %}