{% extends 'boutique/base.html' %}

{% block content %}

<div class="mt-3 container px-1">
    {% include 'boutique/include/filter_icon.html' %}
</div>

<div class="mt-4 mt-lg-5 text-center mb-3 mb-md-5">
    <!-- subcategory iteration -->
    {% for subcategory in subcategories_shown %}

    <div>
        <!-- title block -->
        <div class="mb-3 px-1 text-center">
            <h4 class="mb-1 pb-1 border-bottom font-weight-light wow flipInX" data-wow-delay="0.4s">
                <a class="text-black-50" href="{{subcategory.category.get_absolute_url}}">
                    {{subcategory.category.name}}</a></h4>
            <h2 class="mb-1 pb-1 font-weight-light wow fadeInDown">{{subcategory.name}}</h2>
        </div>
        <!-- / title block -->

        <!-- pass in filter class so it will NOT appear on small screen -->
        {% include 'boutique/include/filter_form.html' with filter='filter' %}

        {% if subcategory.description %}
        <h1 class="h1-title-text px-1 mb-4 mt-n4 mt-md-n2 wow fadeIn" data-wow-delay="1.7s">{{ subcategory.description }}</h1>
        {% endif %}
        
        <div class="container p-0 m-0 row mb-5">
            
            {% for item in subcategory.item_set.all %}
            {% include 'boutique/include/item_in_listviews.html' %}
            {% endfor %}

        </div>

        {% include 'boutique/include/to_top_btn.html' %}
    </div>

    {% endfor %}
    <!-- / subcategory iteration -->
</div>

{% include 'boutique/include/before_before_footer.html' %}
{% endblock content %}