{% extends 'boutique/base.html' %}

{% block content %}

{% include 'boutique/include/filter_general.html' %}

{% if subcategory_shown %}
{% for subcategory in subcategory_shown %}
<div class="mt-5 text-center mb-3 mb-md-5">

    <h4 class="mb-3 pb-1 border-bottom font-weight-light"><a class="text-dark"
            href="{{subcategory.category.get_category_url}}">{{subcategory.category}}</a></h4>
    <div class="container px-2">
        <h6 class="my-3 pb-1 border-bottom border-light font-weight-lighter"><a class="text-dark"
                href="{{subcategory.get_subcategory_url}}">{{subcategory.name}}</a></h6>
        <div class="row">
            {% for item in subcategory.load_related_item %}

            {% if item in filter_context.items_validated %}
            {% include 'boutique/include/item_in_listviews.html' %}
            {% endif %}

            {% endfor %}
        </div>
    </div>

</div>
{% endfor %}

<!-- if not subcategory_shown -->
{% else %}

{% for category in category_shown %}

{% if category in filter_context.categories_validated %}

<div class="mt-4 mt-lg-5 text-center mb-3 mb-md-5">
    <h4 class="mb-3 pb-1 border-bottom font-weight-light"><a class="text-dark"
            href="{{category.get_category_url}}">{{category}}</a></h4>
    <!-- when this category has subcategories -->
    {% if category.subcategory_set.count > 0 %}
    <div class="container px-2">
        <!-- subcategory iteration -->
        {% for subcategory in category.load_related_subcategory %}

        {% if subcategory in filter_context.subcategories_validated %}

        <h6 class="my-3 pb-1 border-bottom border-light font-weight-lighter"><a class="text-dark"
                href="{{subcategory.get_subcategory_url}}">{{subcategory.name}}</a></h6>
        <!-- {% if subcategory.description %}
                <p class="mt-n3 mb-4 px-3"><small class="font-weight-lighter">{{subcategory.description}}</small></p>
                {% endif %} -->
        <div class="row">
            {% for item in subcategory.load_related_item %}

            {% if item in filter_context.items_validated %}
            {% include 'boutique/include/item_in_listviews.html' %}
            {% endif %}

            {% endfor %}
        </div>

        {% endif %}

        {% endfor %}
        <!-- / subcategory iteration -->
    </div>
    <!-- when this category does not have a subcategory -->
    {% else %}
    <!-- show description if there is one -->
    {% if category.description %}
    <p class="mt-n2 mb-4 px-3"><small class="font-weight-lighter">{{category.description}}</small></p>
    {% endif %}
    <div class="container px-2">
        <div class="row">
            {% for item in category.load_related_item %}

            {% if item in filter_context.items_validated %}
            {% include 'boutique/include/item_in_listviews.html' %}
            {% endif %}

            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!-- / this category has subcategories or not -->
</div>

{% endif %}
<!-- /if category_validator -->
{% endfor %}
<!-- /end forloop -->

{% endif %}
<!-- if subcategory_shown -->

<hr class="mt-3">
{% endblock content %}



<!-- filter modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                {% include 'boutique/include/filter_general_form.html' with filter='' %}
            </div>
        </div>
    </div>
</div>

