@import url("https://fonts.googleapis.com/css?family=Forum&display=swap"); //'Forum', cursive;

// @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300&display=swap'); //'Alegreya Sans', sans-serif;
// @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300|Forum&display=swap'); //'Forum', 'Alegreya Sans', sans-serif;
// register form

/* -------- overriding bootstrap styles -------- */
#bootstrap-override {
  // make cursor become pointer on anchor tags
  a.cursor-pointer {
    cursor: pointer;
  }
  // sales page
  div.sales-cover {
    background-image: url("../img/sales-cover.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 180px;

    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  @media only screen and (min-width: 800px) {
    div.sales-cover {
      height: 300px;
    }
  }

  @media only screen and (max-width: 1200px) {
    nav.navbar a.nav-link {
      font-size: 18px;
    }
  }

  // filter form
  .filter {
    display: block;
  }
  .filter-icon {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .filter {
      display: none;
    }
    .filter-icon {
      display: block;
    }
    .dropdown-menu{
      max-height: 600px;
      overflow-y: scroll;
   }
  }

  // breadcrumb and back button
  .breadcrumb {
    background-color: transparent;
  }

  .back-button {
    display: block;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: "»";
  }

  @media only screen and (max-width: 768px) {
    .breadcrumb {
      display: none;
    }

    .back-button {
      display: block;
    }
  }
}
/* -------- end overriding bootstrap styles -------- */

nav,
.container,
div.modal {
  font-family: "Forum", sans-serif;
}

.font-bigger {
  font-size: large;
}

.font-smaller {
  font-size: 20px;
}

div.accordion a.dropdown-item {
  padding-left: 5px;
  padding-right: 5px;
}

a.text-black-50:hover {
  color: rgb(248, 183, 164) !important;
}

i.text-danger {
  color: rgb(228, 74, 74) !important;
}

i.text-danger:hover {
  color: rgb(160, 0, 0) !important;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

footer {
  font-family: "Forum", sans-serif;
  position: sticky;
  top: 100%;
  background-color: rgb(241, 240, 240);
}

img {
  transition: filter 1s;
  &:hover {
    filter: brightness(80%);
  }
}

// pagination
.page-item:first-child .page-link {
  border-radius: 5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-right: 25px;
}

.page-item:last-child .page-link {
  border-radius: 5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-left: 25px;
}

ul.pagination > li.active > a.page-link {
  background-color: rgb(248, 157, 157);
  color: rgb(247, 247, 247);
  border: none;
}

a.page-link {
  background-color: rgb(255, 255, 255);
  border: none;
  color: grey;
  padding: 2px 30px;
  border-radius: 50px;
}

// screen size < 1200px
@media only screen and (max-width: 1200px) {
  #indexPageCarousel {
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
  }

  footer {
    font-size: 16px;
  }
}

// screen size < 800
@media only screen and (max-width: 800px) {
}
