@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Forum&display=swap");
/* -------- overriding bootstrap styles -------- */
#bootstrap-override {
  color: #242424; }
  #bootstrap-override header nav {
    overflow: hidden; }
  #bootstrap-override h1.h1-title-text {
    font-size: 22px !important;
    text-align: center !important;
    color: #4a4a4a !important; }
  #bootstrap-override a.nav-link.new {
    color: #e69a7c !important; }
  #bootstrap-override a.nav-link.new:hover {
    color: white !important;
    background-color: #fbc1aa; }
  #bootstrap-override .cursor-pointer {
    cursor: pointer; }
  #bootstrap-override div.sales-cover,
  #bootstrap-override div.new-cover,
  #bootstrap-override div.vip-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw; }
    @media only screen and (min-width: 768px) {
      #bootstrap-override div.sales-cover,
      #bootstrap-override div.new-cover,
      #bootstrap-override div.vip-cover {
        height: 320px; } }
  #bootstrap-override div.sales-cover {
    background-image: url("../img/sales-cover.jpg"); }
  #bootstrap-override div.new-cover {
    background-image: url("../img/new-cover.jpg"); }
  #bootstrap-override div.vip-cover {
    background-image: url("../img/bg-viporder.jpg"); }
  @media only screen and (max-width: 1200px) {
    #bootstrap-override nav.navbar a.nav-link {
      font-size: 18px; }
    #bootstrap-override .nav-icon-ul {
      display: none !important; } }
  #bootstrap-override .filter {
    display: block; }
  #bootstrap-override .filter-icon {
    display: none; }
  @media only screen and (max-width: 768px) {
    #bootstrap-override .filter {
      display: none; }
    #bootstrap-override .filter-icon {
      display: block; }
    #bootstrap-override .dropdown-menu {
      max-height: 600px;
      overflow-y: scroll; }
    #bootstrap-override h1.h1-title-text {
      font-size: 18px !important; } }
  #bootstrap-override .breadcrumb {
    background-color: transparent; }
  #bootstrap-override .back-button {
    display: block; }
  #bootstrap-override .breadcrumb-item + .breadcrumb-item::before {
    content: "»"; }
  @media only screen and (max-width: 768px) {
    #bootstrap-override .breadcrumb {
      display: none; }
    #bootstrap-override .back-button {
      display: block; } }

/* -------- end overriding bootstrap styles -------- */
nav,
.container,
div.modal {
  font-family: "Forum", sans-serif; }

div.accordion a.dropdown-item {
  padding-left: 5px;
  padding-right: 5px; }

a.text-black-50:hover {
  color: #f8b7a4 !important; }

i.text-danger {
  color: #e44a4a !important; }

i.text-danger:hover {
  color: #a00000 !important; }

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0; }

footer {
  font-family: "Forum", sans-serif;
  position: sticky;
  top: 100%;
  background-color: #f1f0f0; }

.loading {
  background: transparent url("../img/img-placeholder-sm.gif") center no-repeat; }

.dim-img-70 {
  transition: filter 1s; }
  .dim-img-70:hover {
    filter: brightness(70%); }

.dim-img-80 {
  transition: filter 0.5s; }
  .dim-img-80:hover {
    filter: brightness(80%); }

.enlarge {
  transition: all 0.5s; }
  .enlarge:hover {
    filter: brightness(110%);
    transform: scale(1.1);
    box-shadow: 0px 0px 15px grey; }

.page-item:first-child .page-link {
  border-radius: 5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-right: 25px; }

.page-item:last-child .page-link {
  border-radius: 5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-left: 25px; }

ul.pagination > li.active > a.page-link {
  background-color: #f89d9d;
  color: #f7f7f7;
  border: none; }

a.page-link {
  background-color: white;
  border: none;
  color: grey;
  padding: 2px 30px;
  border-radius: 50px; }

.font-bigger {
  font-size: 22px; }

.font-smaller {
  font-size: 19px; }

@media only screen and (max-width: 1200px) {
  #indexPageCarousel {
    width: 100vw;
    margin-left: -50vw;
    left: 50%; }

  footer {
    font-size: 16px; } }
@media only screen and (max-width: 768px) {
  .font-bigger {
    font-size: 20px; }

  .font-smaller {
    font-size: 17px; } }

/*# sourceMappingURL=custom.css.map */
